<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-slides pager="true" class="slide_pager">
      <ion-slide class="slide_image">
        <img src="assets/images/ica-slidebox-img-1.png"> 
        <h1>Slide 1</h1>
        <br>
        <div>
            <p>Teste de texto, bla bla bla, ok</p>
            <p>
              Ficou curioso <strong> Veja mais </strong>
            </p>
        </div>
      </ion-slide>

      <ion-slide class="slide_image">
        <img src="assets/images/ica-slidebox-img-2.png">
        <h1>Slide 2</h1>
        <br>
        <div>
            <p>Teste de texto, bla bla bla, ok</p>
        </div>
      </ion-slide>

      <ion-slide class="slide_image">
        <img src="assets/images/ica-slidebox-img-3.png">
        <h1>Slide 3</h1>
        <a (click)="goToTabPages()">Clique Aqui</a>
      </ion-slide>
    </ion-slides>
  </ion-content>

</ion-content>